  /* Large screens ----------- */
  
  @media only screen and (max-width: 1400px) {
    .logo_name {
      margin-left: 44px;
    }
    .tree_nav li {
      margin-left: 40px;
    }

       .logo_img {
      margin-left: 1%;
      margin-top: 5px;
      margin-right: 0px;
    }
  }
  
  @media only screen and (max-width: 1270px) {
    .logo_name {
      margin-left: 15px;
    }
    .heading_div {
      width: 10%;
    }
    .tree_nav li {
      margin-left: 12px;
    }
  }
  /* desktop screens ----------- */
  
  @media only screen and (max-width: 1200px) {

  }
  
  @media only screen and (max-width: 1110px) {

  }